<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xzp.dao.UserDao">
    <sql id="BASE_TABLE">
        user
    </sql>
    
    <sql id="BASE_COLUMN">
        id,username,password,phone
    </sql>


    <!--插入语句,这里面用到了很多mybatis中xml语法,各种验证-->
    <insert id="insertUser" parameterType="com.xzp.domain.User">
        insert into <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username,password,
            <if test="phone != null" >
                phone,
            </if>
        </trim>

        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="findAll" resultType="com.xzp.domain.User">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>



    <update id="updateMulti" parameterType="com.xzp.domain.User">
        update
        <include refid="BASE_TABLE"/>
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR}
            </if>
        </set>

        where
          username = #{username,jdbcType = VARCHAR}
    </update>

    <update id="update2" parameterType="java.util.List">
            update user
            set password=

    </update>
</mapper>